<head>
    <title>404</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon2.ico') }}">
</head>
<body>
    <h1>Yeah Nah Yeah Nah M8 - 404</h1>
    <br><br>
    <p id="aliens" style="font-size: 50px; text-align: center;" > The aliens have abducted this page click ------------~<a href = "https://i.ytimg.com/vi/BkD2nN5275c/maxresdefault.jpg"style = "color:#00fff2; font-size:100px">here </a> ~------------- <br>to fix <br>EVERYTHING </p>
</body>