<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bookpage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body>
  <div class ="title">
    <h1>Book Index</h1>
  </div>
  <br>
  <div class = "main">
    <div class="newbook">
      <!-- <a href='{{url_for("bookform")}}'>Add a new book</a> -->
      <button onclick="newbook()">New Book</button>
        <script>
            function newbook() {
            location.href="/newbook"
            }
        </script>
    </div>
    {%for book in all_books%}
      <div class="bookTitle">
        <a href="/index/{{book.ID}}">{{book.Title}}</a>
      </div>
      <div class="bookDiscription">
        <p>Written by - {{book.Author}}</p>
        <p>Rating - {{book.Rating}}/5</p>
      </div>
      <br>
    {%endfor%}
    

    
  </div>
</body>